html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
    user-select: none;
    
}

html,
body {
    margin: 0;
    background-color: #3a3a3a;
    overflow: hidden;
    height: 950px;
}

/* This section is the beginning of the menu nav bar */ 
#main-menu {
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
    position: fixed;
    padding: 0;
    width: 8.5rem;

}

/* This section is for the logo of my personal website
    The design of the logo is still to be created */

#main-logo {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#main-personal-logo { 
    font-size: 55px;
    margin: 0;
    padding: 10px 10px 0 10px;
}

#main-name {
    margin: 0 0 75px 0;
}

#main-occupation {
    margin: 0;
    padding-bottom: 5px;
}

/* This section styles the links to other pages in the nav bar */
#links-navbar {
    margin-top: 80%;
    width: 100%;
    text-align: center;
}

#ul-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
}

#ul-navbar li {
    color: white;
    border-top: 1px solid #000000; 
    padding: 17px;
}

#last-item {
    border-bottom: 1px solid #000000;
}

#ul-navbar a {
    text-decoration: none;
    color: white;
}

#ul-navbar li a:hover {
    text-decoration: none;
    color: rgb(120, 206, 206);
}

#ul-navbar a:visited {
    text-decoration: none;
    color: white;
}

/*This section is for the social media links in the nav bar */
#social-navbar {
    margin-top: 40%;
    margin-bottom: auto;
}

#social-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
}

#social-list li {
    padding: 6px;
    list-style: none;
}

#social-list a {
    text-decoration: none;
    color: white;
}

#social-list li a:hover {
    text-decoration: none;
    color: rgb(120, 206, 206);
}

#social-list a:visited {
    text-decoration: none;
    color: white
}

/* This is the beginning of the main content of the page*/

#main-content {
    margin-left: 8.5rem;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* The heading for the main page */

#title-screen {
    text-align: left;
    margin-left: 4%;
    margin-bottom: 8%;
    width: 880px;
}

#title-screen span {
    font-weight: bold;
}

.header-text {
    margin: 0;
    color: white;
    font-size: 42px; 
    margin: 6px; 
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid rgb(120, 206, 206);
    font-size: 1.6rem;
}

.container {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid rgb(120, 206, 206);
    white-space: nowrap;
    font-size: 1.6rem;
    width: auto;
    animation: typing 1s steps(30, end) forwards;
}

#header-heading {
    font-size: 82px;
    color: white;
    margin: 0;
    font-weight: bold;
}

#main-contact-button a {
    text-decoration: none;
    color: white;
}

#main-contact-button a:visited {
    text-decoration: none;
    color: #3a3a3a;
}

#main-contact-button {
    cursor: pointer;
    width: 200px;
    height: 55px;
    margin-left: 7%;
    margin-top: 10px;
    background-color: #3a3a3a;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

#main-contact-button:hover {
    width: 200px;
    height: 55px;
    margin-left: 7%;
    margin-top: 10px;
    background-color: rgb(120, 206, 206); 
    border: 1px solid white;
    border-radius: 3px;
    color: #000000;
    font-weight: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

#main-contact-button:active {
    width: 200px;
    height: 55px;
    margin-left: 7%;
    margin-top: 10px;
    background-color: rgb(104, 186, 186); 
    border: 1px solid white;
    border-radius: 3px;
    color: black;
}

/* About me section */
#aboutme-section {
    margin-left: 8.5rem;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-width: 700px;
}

#aboutme-main-container {
    display: flex; 
    flex-direction: column;
    width: 760px;
    margin-left: 4%;
    margin-bottom: 6%;
}

#aboutme-main-container h1 {
    color: white;
    font-size: 40px;
    margin: 0px;
}

#aboutme-main-container hr {
    margin: 3px;
}

#aboutme-main-container h2{
    color: white;
    font-size: auto;
    margin: 10px 0 10px 12%;
}

#aboutme-main-container p {
    font-size: 16px;
    color: white;
    line-height: 1.6;
    word-spacing: 1.3px;
}

#name {
    font-size: 22px;
    font-weight: bold;

}

#name a {
    color: white;
    text-decoration: none;
}

#name a:hover {
    color: #4a6da7;
}

#name a:visited {
    text-decoration: none;
}

#aboutme-container4 p {
    font-size: 17px;
    color: white;
    line-height: 1.6;
    word-spacing: 1.2px;
}
/* This is the css for my social links in my about me page */
#social-navbar1 {
    margin-top: 10%;
}

#social-list1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

#social-list1 li {
    padding: 6px;
    list-style: none;
}

#social-list1 a {
    text-decoration: none;
    color: white;
}

#social-list1 li a:hover {
    text-decoration: none;
    color: rgb(120, 206, 206);
}

#social-list1 a:visited {
    text-decoration: none;
    color: white
}


/* This is where the css for my Contact Me page begins */
#contactme-section {
    margin-left: 8.5rem;
    height: 100%;
}

#contactme-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 250px 4%;
}

/* Where the css for the find me section begins */
#findme-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 350px;
    text-align: left;
    margin-right: 80px;
}

#findme-heading h1 {
    font-size: 30px;
    color: white;
    margin: 8px 0;
    width: auto;
}

#findme-paragraph p {
    color: white;
    line-height: 1.4;
    margin: 10px 0;
}

#findme-social {
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

#findme-social li {
    padding: 6px;
    list-style: none;
}

#findme-social a {
    text-decoration: none;
    color: white;
}

#findme-social li a:hover {
    text-decoration: none;
    color: rgb(120, 206, 206);
}

#findme-social a:visited {
    text-decoration: none;
    color: white
}

/* Where the contact form container css begins */
#contactme-form-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#contactme-header h1 {
    color: white;
    font-weight: solid;
    font-size: 42px;
    margin: 0px 0px 10px 0;
}

#contactme-header h1:hover {
    color:rgb(120, 206, 206);
    transition: ease-out 0.2s;
}

#form-row1 {
    margin: 8px 0; 
}

#form-row2 {
    margin: 8px 0;
}

#form-row3 {
    margin: 8px 0;
}

#users-email {
    border: 1.5px solid rgb(120, 206, 206);
    border-radius: 3px;
    padding: 10px;
    height: 20px;
    width: 620px;
}

#users-subject {
    border: 1.5px solid rgb(120, 206, 206);
    border-radius: 3px;
    padding: 10px;
    height: 20px;
    width: 620px;
}

#users-message {
    border: 1.5px solid rgb(120, 206, 206); 
    border-radius: 3px;
    height: 150px;
    padding: 10px;
    width: 620px;
}

#contact-button {
    cursor: pointer;
    width: 200px;
    height: 55px;
    margin: 8px 0;
    background-color: #3a3a3a;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

#contact-button:hover {
    background-color: rgb(120, 206, 206);
    border: 1px solid white;
    color: black;
    font-weight: normal;
    transition: ease-in 0.2s;
}

#contact-button:active {
    background-color: rgb(96, 172, 172);
}

#mobile_button {
    display: none;
}

/* Beginning of media screen width */

@media screen and (max-width: 1080px) {
    html,
    body {
        overflow: hidden;
        height: 800px;
    }

    #main-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 55px;
        /* 430px*/
    }

    #main-logo {
        display: flex;
        flex-direction: row;
        height: 55px;
        width: auto;
        justify-content: center;
        align-items: start;
        text-align: center;
    }

    #main-personal-logo {
        height: 100%;
        padding: 2px 15px 0 15px;
        margin: 0;
        font-size: 40px;
    }

    #main-logo h3,
    h5 {
        display: none;
    }

    #mobile_button {
        display: block;
        padding: 7px 7px 0 15px;
    }

    .hamburger {
        height: 40px;
        width: 65px;
        padding: 0;
        background-color: #2A2A2A;
        border-style: none;
    }

    .hamburger i {
        color: white;
        font-size: 28px;
    }

    .hamburger:active {
        background-color: #3a3a3a;
    }

    #links-navbar {
        margin-top: 55px;
    }

    #ulnavbar {
        display: block;
    }

    #ul-navbar li {
        display: block;
        grid-auto-flow: row;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
        border-style: none;
        padding: 25px;
    }

    #social_navbar {
        opacity: 0;
    }

    #main-content {
        margin-left: 0;
        height: 100%;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    #title-screen {
        width: auto;
        margin: 0 4% 8% 4%;
    }

    #aboutme-section {
        margin-left: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #aboutme-main-container {
        width: 60%;
        margin: 55px 4% 8% 4%;
    }

    #aboutme-main-container hr {
        width: 100%;
    }

    #aboutme-main-container h1 {
        text-align: left;
        width: 480px;
    }
    
    .aboutme_media {
        width: 100%;
    }

    #contactme-section {
        margin-left: 0;
        height: 100%;
    }

    #contactme-main-container {
        display: flex;
        margin-top: 55px;
        flex-direction: column;
        align-items: left;
        padding: 0 4% 0 0;
        margin: 80px 4% 8% 4%
    }

    #findme-container {
        width: 100%;
        margin: 0 0 3% 0;
    }

    #findme-social {
        margin: 0 10px;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 25px;
    }

    #contactme-form-container {
        width: auto;
        padding-right: 2%;
    }

    #users-email {
        width: 100%;
    }
    
    #users-subject {
        width: 100%;
    }
    
    #users-message {
        width: 100%;
    }
} 

@media screen and (max-width: 600px) {
    .header-text {
        font-size: 30px;
        width: auto;
        margin-right: 4%;
    }

    #title-screen {
        margin-bottom: 25%;
    }

    #header-heading {
        font-size: 62px;
    }

    #aboutme-section {
        margin-left: 0;
        height: 100%;
        justify-content: start;
        align-items: center;
    }

    #aboutme-main-container {
        width: 60%;
        margin: 0;
        padding: 0 20px;
        justify-content: start;
    }

    #aboutme-main-container h1 {
        font-size: 24px;;
        white-space: nowrap;
        
    }

    #aboutme-main-container h2 {
        font-size: 20px;
        white-space: nowrap;
        margin: 10px 0 10px 0;
    }
    
    #aboutme-main-container hr {
        width: 80%;
    }

    #aboutme-main-container p {
        font-size: 12px;
        width: 80%;
    }
}